<form>
    <div class="control-group">
        <label for="book-bookName" class="control-label">Title:</label>
        <input id="book-bookName" name="bookName" type="text" placeholder="Title" value="<%= bookName %>"/>
    </div>
    <div class="control-group">
        <label for="book-authorName" class="control-label">Author:</label>
        <input id="book-authorName" name="authorName" type="text" placeholder="Name" value="<%= authorName %>"/>
    </div>
    <div class="control-group">
        <label for="book-publication" class="control-label">Publisher:</label>
        <input id="book-publication" name="publication" type="text" placeholder="Publisher" value="<%= publication %>"/>
    </div>
    <div class="control-group">
        <label for="book-year" class="control-label">Year:</label>
        <input id="book-year" name="year" type="number" value="<%= year %>"/>
    </div>
    <div class="control-group">
        <label for="book-imagePath" class="control-label">Image Path:</label>
        <input id="book-imagePath" name="imagePath" type="text" value="<%= imagePath %>"/>
    </div>
    <button class="btn js-submit">Save</button>
</form>